*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-family: var(--font-family);
  color: var(--color);
  font-size: 16px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color);
  transition: color var(--transition-delay), background-color var(--transition-delay);
}

button {
  font-family: var(--font-family);
  color: var(--color);
  font-size: 1rem;
  cursor: pointer;
}

.reset-btn {
  padding: 0;
  margin: 0;
  border-color: transparent;
  background-color: transparent;
}