*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-family: var(--font-family);
  color: var(--color);
  font-size: 16px;
  scrollbar-color: rgba(var(--primary-rgb), 0.3) rgba(#2e2b39, 0.3);

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(var(--primary-rgb), 0.3);
    border-radius: 10px;
  }
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color);
  transition: color var(--transition-delay), background-color var(--transition-delay);
}

button {
  font-family: var(--font-family);
  color: var(--color);
  font-size: 1rem;
  cursor: pointer;
  border-width: 1px;
  transition: color var(--transition-delay), background-color var(--transition-delay), border-color var(--transition-delay);
}

.reset-btn {
  padding: 0;
  margin: 0;
  border-color: transparent;
  background-color: transparent;
}