.btn {
  display: block;
  width: 100%;
  padding: 9.5px 20px;
  text-align: center;
  color: var(--primary);
  border-radius: var(--border-radios);
  border-color: var(--primary);

  &:hover{
    background-color: rgba(var(--primary-rgb), 0.1);
  }

  &_active {
    background-color: var(--primary);
    color: var(--white);

    &:hover {
      background-color: rgba(var(--primary-rgb), 0.7);
      border-color: rgba(var(--primary-rgb), 0.7);
    }
  }
}